#mainDiv{
    padding-top: 30px;
    padding-left: 5%;
    padding-right:5%;
    background-color: skyblue;
    color: black;
    
}
.header{
    font-weight: bold;
    color: brown;
    text-align: center;
    text-decoration:underline;
}