.col-sm-6 {
    background-color: #00BCD4;
    padding-bottom: 35px;
}

h3 {
    padding-top: 2px;
    padding-bottom: 10px;
    font-size: 20px;
}

.padding {
    padding-top: 10px !important;
}

.contstyle {
    background-color: #00BCD4;
}
#tableId{
    overflow-x:auto;
}
table,td  {
    border: 1px solid grey;
    border-collapse: collapse;
}
.odd {
    /*text-transform: uppercase;*/
    border-collapse: collapse;  
    border: 1px solid grey;
}
.even{
    background-color:  #E47F72;
    color: white;
    border-collapse: collapse;  
    border: 1px solid grey;
}
th{
    color: black;
    font-weight: bold;
    border: 1px solid grey;
    border-collapse: collapse;  
}


thead {
    background-color: #dff0d8;
    cursor: pointer;
}
.notReverse:after {
    content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE}
.reverse:after {
    content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
#searchDiv{
    float: right;
}
#btnDiv{
    float: left;
}

#notFound{
    text-align: center;
    font-size: 20px;
}